.container{
    width: 85%;
    height: 50vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 20px;
    font-size: 45px;
    color: #FFFFFF;
}
